@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Merriweather", serif;
    font-size: 16px;
  }
  
  .contentContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 100px;
  }
  
  .descriptionContainer {
    flex: 1;
    padding-right: 20px;
    max-width: 500px;
  }
  
  .img {
    max-height: 300px;
  }
  
  .goldText {
    color: gold;
    margin-top: 20px;
    font-weight: bold;
    font-size: 22px;
    font-family: "Libre Baskerville", serif;
  }
  
  .special {
    --bg-size: 400%;
    --color-one: #4CAF50;
    --color-two: #b0e9b2;
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .special {
      animation: move-bg 7s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }


  .goldText {
    --bg-size: 400%;
    --color-one: #e8b923;
    --color-two: rgb(255, 227, 68);
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .goldText {
      animation: move-bg 7s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }