@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.homecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 95px;
}


.noauth {
  font-family: "Courier Prime", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;

  h1 {
    color: var(--txt-color);
    font-size: 64px;
    margin-bottom: 10px;
  }
  
  p {
    color: var(--txt-color);
    font-size: 20px;
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;

    &:first-of-type {
      color: #4CAF50;

      &:hover {
        filter: brightness(70%)
      }
    }

    &:last-of-type {
      color: #C48EAA;

      &:hover {
        filter: brightness(70%);
      }
    }
  }
}

h1 {
  font-family: "Courier Prime", monospace;
  margin: 40px;
}