:root {
  --pr-locolor: #4CAF50;
  --sec-locolor: #FFFFFF;
  --button-bg-locolor: var(--pr-locolor);
  --button-txt-locolor: var(--sec-locolor);
}

.login {
  display: flex;
  background-color: var(--sec-locolor);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  width: 600px;

  .submitfield {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .submitfield h4 {
    color: var(--txt-color);
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .submitfield h4 span {
    color: var(--pr-locolor);
    font-weight: bold;
  }
  
  .submitfield p {
    color: var(--txt-color);
    margin-bottom: 20px;
  }
  
  .floatinglabel {
    margin-bottom: 15px;
  }
  
  .floatinglabel input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid var(--in-border-color);
    font-size: 16px;
    color: var(--txt-color);
  }

  .floatinglabel input:focus{
    outline: none;
    color: var(--pr-locolor);
  }
  
  .floatinglabel input::placeholder {
    color: #999999;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: var(--button-bg-locolor);
    color: var(--button-txt-locolor);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: filter 0.5s ease-in-out;
  }
  
  button:hover {
    filter: brightness(125%);
  }

  .error {
    color: red !important;
    font-size: 14px;
  }
}

.login::before {
  content: "";
  flex: 1;
  background: url('https://i.pinimg.com/474x/80/0b/20/800b20c79ab7c2164ce61e7a96eae299.jpg') no-repeat center center;
  background-size: cover;
}