:root {
  --bg-color: #F4F4F4;
  --in-bg-color: #FFFFFF;
  --in-border-color: #CCCCCC;
  --txt-color: #333333;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.centered-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainContent {
  flex: 1;
}
