.notFoundContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 50px;
  }

  .notFoundInside {
    color: #333;
    font-size: 24px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .notFoundInside h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    font-size: 72px;
  }
  
  .notFoundInside p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .homeLink {
    text-decoration: none;
    color: #4CAF50;
    font-size: 18px;
  }
  
  .homeLink:hover {
    filter: brightness(125%);
  }
  